# Config
config.xml

# IDE
.idea

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
*.pdb
VideoAudioExtractor/obj/Debug/netcoreapp3.1/VideoAudioExtractor.csproj.CoreCompileInputs.cache
VideoAudioExtractor/bin/Debug/netcoreapp3.1/VideoAudioExtractor.deps.json
VideoAudioExtractor/bin/Debug/netcoreapp3.1/VideoAudioExtractor.runtimeconfig.dev.json
VideoAudioExtractor/bin/Debug/netcoreapp3.1/VideoAudioExtractor.runtimeconfig.json
VideoAudioExtractor/bin/Debug/bin/LocalXml.zip
VideoAudioExtractor/bin/Debug/bin/log4cxx.properties
VideoAudioExtractor/obj/Debug/netcoreapp3.1/VideoAudioExtractor.csproj.CoreCompileInputs.cache
VideoAudioExtractor/obj/Debug/netcoreapp3.1/VideoAudioExtractor.csproj.FileListAbsolute.txt
VideoAudioExtractor/obj/Debug/netcoreapp3.1/VideoAudioExtractor.csprojAssemblyReference.cache
VideoAudioExtractor/obj/Debug/netcoreapp3.1/VideoAudioExtractor.csproj.CopyComplete
VideoAudioExtractor/obj/Debug/netcoreapp3.1/VideoAudioExtractor.assets.cache
VideoAudioExtractor/obj/VideoAudioExtractor.csproj.nuget.cache
VideoAudioExtractor/obj/Debug/netcoreapp3.1/VideoAudioExtractor.AssemblyInfoInputs.cache
VideoAudioExtractor/obj/Debug/netcoreapp3.1/VideoAudioExtractor.genruntimeconfig.cache

VideoAudioExtractor/bin/Release/netcoreapp3.1/VideoAudioExtractor.deps.json
VideoAudioExtractor/bin/Release/netcoreapp3.1/VideoAudioExtractor.runtimeconfig.dev.json
VideoAudioExtractor/bin/Release/netcoreapp3.1/VideoAudioExtractor.runtimeconfig.json
VideoAudioExtractor/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
VideoAudioExtractor/obj/Release/netcoreapp3.1/VideoAudioExtractor.AssemblyInfo.cs
VideoAudioExtractor/obj/Release/netcoreapp3.1/VideoAudioExtractor.AssemblyInfoInputs.cache
VideoAudioExtractor/obj/Release/netcoreapp3.1/VideoAudioExtractor.assets.cache
VideoAudioExtractor/obj/Release/netcoreapp3.1/VideoAudioExtractor.csproj.CopyComplete
VideoAudioExtractor/obj/Release/netcoreapp3.1/VideoAudioExtractor.csproj.CoreCompileInputs.cache
VideoAudioExtractor/obj/Release/netcoreapp3.1/VideoAudioExtractor.csproj.FileListAbsolute.txt
VideoAudioExtractor/obj/Release/netcoreapp3.1/VideoAudioExtractor.csprojAssemblyReference.cache
VideoAudioExtractor/obj/Release/netcoreapp3.1/VideoAudioExtractor.genruntimeconfig.cache
VideoAudioExtractor/bin/Release/bin/LocalXml.zip
VideoAudioExtractor/bin/Release/bin/log4cxx.properties
